* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* koekjes*/

body {
    background: #92A9B9;
}

nav:first-child {
    position: fixed;
    width: 100%;
    background-color: #84B1DB;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

nav:first-child ul {
    display: flex;
    justify-content: flex-end;
}

a {
    color: black;
    text-decoration: none;
}

li {
    margin: 15px;
    list-style-type: none;
    font-size: 1rem;
}

nav li img {
    width: 2em;
}

nav:last-child {
    background-color: white;
}

nav:last-child ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    overflow-x: scroll;
}

.nav-img {
    max-width: 25%;
    z-index: 999;
    height: 100%;
    width: auto;
}


.banner {
    width: 100vw;
    height: auto;
}

section {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 2em;

    /* waarom is deze sulotion op de section*/
    transition: all ease-in. 3s;
}

section a {
    max-width: 100vw;
}

article {
    background-color: white;
    padding: 5px;
    font-weight: bold;
    border: 2px solid grey;
    display: flex;
    transition: transform 0.3s;
    margin: 0px 5px 0px 5px;
}


article img {
    height: 100%;
}

article p {
    margin: 40px 0 0 10px;
}

/* hier geef ik met transform aan dat die doormiddel van een scale van 1.5 groter kan worden*/
/*met de box schadow geef ik aan hoe groot de schaduw moet zijn zo kun je en welke kleur*/
article:hover,
article:focus {
    background-color: #FF8000;
    box-shadow: 0px 6px 10px 0px #666666;
    transform: scale(1.1);
}

nav li:hover,
nav li:focus {
    background-color: #FF8000;
}

.test {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.test li {
    margin: 0px 20px 0px 20px;
}



.knop:hover {
    background-color: white;
}


/* ik geef hier aan dat mijn afbeelding in mijn artikel gevuld wordt op de hoogte en de breedte, en hij mag niet breder worden dna 50% van mijn artikel daarom die 50%*/
article img {
    object-fit: cover;
    width: 50%;
}


.dropdown2{
    background-color: dodgerblue;
    color: white;
    font-size: 16px;



}


.dropdown2:hover, .dropdown2:focus{
    background-color: #FF8000;
}

.dropdown{
    position: relative;
    display: inline-block;

}

.dropdown-inhoud{
    position: absolute;
    background-color: #84B1DB;
    z-index: 1;
    min-height: 16px;
}

.dropdown-inhoud a{
    color: white;
}

.dropdown-inhoud a:hover, .dropdown-inhoud a:focus{
    background-color: #FF8000;
}

.show{
    display: block;
}


